
/* the (:root) selector matches the document's root element*/
:root {
    --primary-color: white;
    --secondary-color: purple;
    --tertiary-color: black;
}

/* the (*) is a universal selector that selects all HTML elements on the page*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* the (body) is a selector that changes entire body*/
body {
    background-color: var(--tertiary-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--primary-color);
}

/* START HEADER / NAV BAR STYLES */
/* the (header) is a selector that selects all of the header */
header {
    background-color: var(--tertiary-color);
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky; 
    top: 0;
    z-index: 9999;
}

/* the (header nav) is a selector that selects anything under the header nav in the html file*/
header nav {
    margin: 7px 0;
}

/* the (header nav ul) is a selector that selects anything under the header nave ul in the html file */
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

/* the (header nav u li a) is a selector that selects anything under the header nav ul li a */
header nav ul li a {
    color: var (var(--primary-color));
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

/* :hover is a CSS pseudo-class interacts with an element with a point device*/
header nav ul li a:hover {
    font-style: italic;
}
/* END HEADER / NAVE BAR STYLES */

/* START FOOTER STYLES */
/* the (footer) is a selector that selects anything under the footer*/
footer {
    background: var(--tertiary-color);
    background-image: url("../images/background.jpg");
    width: 100%;
    padding: 40px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* the (footer h2) is a selector that selects anything under footer h2*/
footer h2 {
    text-align: center;
    width: 100%;
}
/* END FOOTER STYLES*/

/*START HERO STYLE*/
/* the (.hero) is a selector that selects the class="hero" */
.hero {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}

/* the (.hero h2) is a selector selects the h2 thats under then class="hero" */
.hero h2 {
    text-align: center;
    width: 100%;
    font-size: 100px;
}
/* HERO STYLES END */

/* START ALL SECTION STYLES*/
/* the (section) is a selector that selects anything under all sections */
section {
    padding: 60px;
}
/* END ALL SECTION STYLES*/

/* START SECTION TITLE STYLES */
/* the (.section-title) is a selector that selects anything under class="section-title" */
.section-title {
    font-size: 48px;
    color: var(--secondary-color);
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}
/* END SECTION TITLE STYLES */

/* START PROJECTS*/
/* the (.latest-projects) is a selector selects everything under the class="latest-project" */
.latest-project {
    height: 300px;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* the (.other-projects, .coming-soon) is a selector that selects everything under both class="other-projects" and class="coming-soon" */
.other-projects,
.coming-soon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    padding: 20px;
}
/* END PROJECTS

/* START ABOUT ME */
/* the (.about-me) is a selector that selects everything under the class="about-me" */
.about-me {
    font-size: 20px;
}    

/* the (.about-me img) is a selector that selects the images under the class="about-me" */
.about-me img {
    float: left;
    border-radius: 50%;
    height: 300px;
    padding: 20px;
}


/* END ABOUT ME */

/* START LIFE OUTSIDE CODING */
/* the (.life-outside-coding) is a selector that selects everything under the class="life-outside-coding" */
.life-outside-coding {
    font-size: 20px;
}

/* the (.life-outside-coding img) is a selector that selects the images under the class="life-outside-coding" */
.life-outside-coding img {
    float: right;
    height: 200px;
}

/* END LIFE OUTSIDE CODING */

/* START MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
/* the (@media) is a rule in media queries to appyl different styles for when the devices being used change*/
/* the (screen) is a value used for computer screens, tablets, smart-phones, etc */
/* the (max-width) is a value that is the max width of the display area*/
/* this is selecting rules for devices/screens with a width of 980px or less */
@media screen and (max-width: 980px) {    
}
/* END MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */

/* START MEDIA QUERY FOR TABLETS AND SMALLER */
/* this is selecting rules for devices/screens with a width of 768px or less */
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }
}
/* END MEDIA QUERY FOR TABLETS AND SMALLER */

/*START MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
/* this is selecting rules for devices/screens with a width of 575px or less*/
@media screen and (max-width: 575px) {
    .section-title {
        width: 95%;
    }
}
/* END MEDIA QUERRY FOR MOBILE PHONES AND SMALLER */





